<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.multiscreen.msf20.photoshare"
    android:versionCode="1"
    android:versionName="1.0.17" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout|layoutDirection|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ImageActivity"
            android:parentActivityName=".GridViewActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GalleryActivity" />
        </activity>
    </application>

</manifest>
